/* give the outline a border to see in details */


/* aids for making it responsive */
* {
  box-sizing: border-box;
}

/* max width to my paragraphs 40 characters per line*/
p, h1, h2 {
  max-width: 40ch;
}

header {


}

.flex-container {
  display: flex;
  background-color: #f7f7f8;
  flex-wrap: wrap;
  justify-content: left;
  align-content: stretch;
  margin-top: 0;

}

.flex-item {
  float: left;
  display: inline;
  border: 2px solid black;
}

/*
@media (max-width: 800px) {
.flex-item {
flex: 100%;
max-width: 100%;
clear: both;
}
} */

/* Navigation Bar */
nav {
  list-style-type: none;
  float: right;
  background-color: #4678ad;
  padding: 2%;
  margin: 0;
}

.nav-container {
  width: 100%;
  background-color: #4678ad;
}

.nav-container::after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 10px;
  position: relative;

}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #444;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #5ce0e6;
  position: absolute;
  top: -40%;
  width: 0;
  transition: all ease-in-out 1000ms;
}

nav a:hover::before {
  width: 100%;
}

.nav2 {
  background-color: #5ce0e6;
  border: 1px solid black;
  padding: 1.5%;
}

/* inside the body of the web */
.item1 {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10%;
}

#item1-container {
  border: 2px solid blue;
  margin-left: 20px;
}

footer {
  background-color: #4678ad;
  border: 2px solid black;
}

   /* glitch effect */
    .glitch {
      font-size: 1rem;
      font-weight: 200;
      text-transform: uppercase;

      text-shadow: 0.05em 0 0 rgb(229, 93, 222),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
     0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
      animation: glitch 600ms infinite;
    }
    @keyframes glitch {
      0% {
        text-shadow: 0.05em 0 0 rgb(229, 93, 222),
    -0.05em -0.025em 0 rgb(92, 223, 229),
     -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
      }
      14% {
        text-shadow: 0.05em 0 0 rgb(229, 93, 222),
    -0.05em -0.025em 0 rgb(92, 223, 229),
     -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
      }
      15% {
        text-shadow: -0.05em -0.025em 0 rgb(229, 93, 222),
         0.025em 0.025em 0 rgb(92, 223, 229),
     -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
      }
      49% {
        text-shadow: -0.05em -0.025em 0 rgb(92, 223, 229),
    0.025em 0.025em 0 rgb(229, 93, 222) ,
     -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
      }
      50% {
        text-shadow: 0.025em 0.05em 0 rgb(229, 93, 222),
      0.05em  0 0 rgb(92, 223, 229),
      0 -0.05em 0 rgba(0, 0, 255, 0.75);
      }
       99% {
        text-shadow: 0.025em 0.05em 0 rgb(229, 93, 222),
      0.05em  0 0 rgb(92, 223, 229),
      0 -0.05em 0 rgba(0, 0, 255, 0.75);
      }
      100% {
          text-shadow: -0.025em 0 0 rgba(255,0, 0, 0.75),
    -0.025em -0.025em 0 rgb(92, 223, 229),
     -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
      }
      }

/* Drop Down menu */
.dropbtn {
  background-color: #f7f7f8;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

